.calculator {
  height: 320px;
  width: 235px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #2b2d2f;

  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 1fr 48px 48px 48px 48px 48px;

  box-shadow: 3px 4px 8px 0px rgba(1, 1, 1, 0.3);
}
